* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  -webkit-text-size-adjust:none; 
  box-sizing: border-box; /* IE */
  margin:0;
}

body {
	color: #000;
	font-size: 15px;
	line-height: 1.3;
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffff;
	font-weight: 300;
}

.header{
	background-color: #033048;
	display: flex;	
	flex-direction: column;
	align-items:center;	
	justify-content: center;	
	padding:20px;
	font-size: 0.95em;	
}

.logo{
	color: #ffffff;
}

.header a{
	color: #f9e42e;
	margin:5px;
	text-decoration: none;
/*	font-size: 20px;
*/	font-weight: 300; 	
}

.content-container{
	padding:10px;
	background-color: #E6E6E6;  	
}

article{
  padding: 10px 10px 30px 10px;
  clear:both;
  background-color: white;
  box-shadow: 4px 3px 8px #AAAAAA;
  margin-bottom: 10px;
}

article h1{
	margin-bottom: 10px;
	font-size:1.4em;
}

article img{
	/*width:375px;*/
	width: 100%;
}

article a{
  float: right;
  text-decoration: none;
  margin-top: 10px 0 20px 0	;
}



