* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  -webkit-text-size-adjust:none; 
  box-sizing: border-box; /* IE */
  margin:0;
}

body {
	color: #000;
	font-size: 15px;
	line-height: 1.3;
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffff;
	font-weight: 300;
	padding-top: 85px;
}

.header{
	background-color: #033048;
	display: flex;	
	flex-direction: column;
	align-items:center;	
	justify-content: center;	
	padding:20px;
	font-size: 0.95em;
 	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;	
  	width: 100%;	
  	height:85px;
}

.logo{
	color: #ffffff;
}

.header a{
	color: #f9e42e;
	margin:5px;
	text-decoration: none;
/*	font-size: 20px;
*/	font-weight: 300; 	
}

.content-container{
	padding:10px;
	background-color: #F3F3F3;  	
}

article{
  padding:.75rem 1rem 1.5rem 1rem;
  clear:both;
  background-color: white;
  box-shadow:0 1px 2px #aaa;
  margin-bottom: 10px;
  border-radius:3px;  
}

article h1{
	margin-bottom: 10px;
	font-size:1.4em;
	font-weight: 400;
}

article img{
	/*width:375px;*/
	width: 100%;
}

article a{
  float: right;
  text-decoration: none;
  margin-top: 10px 0 20px 0	;
}



