* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  -webkit-text-size-adjust:none; 
  box-sizing: border-box; /* IE */
  margin:0;
}

body {
	color: #000;
	font-size: 50px;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffff;
	font-weight: 300;
}

.header{
	background-color: #033048;
	display: flex;	
	flex-direction: column;
	align-items:center;	
	justify-content: center;	
	padding:20px;
}

.logo{
	color: #ffffff;
	font-size: 2.5em;
}

.header a{
	color: #f9e42e;
	margin:5px;
	text-decoration: none;
/*	font-size: 20px;
*/	font-weight: 300; 	
}

.content-container{
	padding:15px;
	background-color: #f0efef;  	
}

article{
  padding-bottom: 70px;
  padding-top: 20px;
  clear:both;
  border-bottom: 1px solid #ABABAB; 
}

article h1{
	margin-bottom: 10px;
	font-size:1.4em;
}

article img{
	/*width:375px;*/
	width: 100%;
}

article a{
  float: right;
  text-decoration: none;
  margin-top: 10px;
}



