body {
  	background-color:#E6E6E6;
  	font-size: 100%;	
  	margin: 0 auto;
  	max-width: 767px;
  	width: 90%;
}

@media only screen and (max-width: 400px) {
                    body { font-size:90%;}
     }


.logo {
	font-family: helvetica, arial;
	font-size: 3.5em;
	margin-top: 80px;

}

.box h2 {
    border-bottom: 1px solid #999999;
    color:#999999;	
	font-family: helvetica, arial;
	font-size: 14px;
    font-style: normal;
    font-weight: 900;
	line-height:1.5;
	text-transform: uppercase;
}


.box ul,p {
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;	
	font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .01rem;
	line-height:1.5;
  	list-style-type: circle;	
}

.note {
    color:#999999;
	font-family: helvetica, arial;
	font-size: 14px;
    font-style: normal;
    font-weight: 400;
	line-height:1.5;
	margin-top: 10px;
}
